# Database
DATABASE_URL="postgresql://<user>:<password>@<host>:<port>/<database>?schema=public"

# JWT
JWT_SECRET=<your_jwt_secret_here>

# Asterisk AMI
AMI_USERNAME=<ami_username>
AMI_SECRET=<ami_password>
AMI_PORT=5038
AMI_HOST=localhost

# Asterisk ARI
ARI_URL=http://127.0.0.1:8088/ari
ARI_USERNAME=<ari_username>
ARI_PASSWORD=<ari_password>
ARI_APP=dialer-app

# CORS / Frontend URLs
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3001

# SMS Providers
# Limitless
SMS_API_URL=http://localhost:8000/sms/limitless/test
SMS_API_KEY=<limitless_api_key>

# Teliqon
TELIQON_SMS_API_URL=http://localhost:8000/sms/teliqon/test
TELIQON_SMS_API_USERNAME=<teliqon_username>
TELIQIN_SMS_API_PASSWORD=<teliqon_password>
TELIQON_SMS_API_KEY=<teliqon_api_key>

# CommPeak
COMMPEAK_SMS_API_URL=https://sendsms.commpeak.com/simple_send/
COMMPEAK_SMS_API_KEY=<commpeak_api_key>

# Topying
TOPYING_SMS_API_URL=http://<ip>:20003
TOPYING_SMS_API_USERNAME=<topying_username>
TOPYING_SMS_API_PASSWORD=<topying_password>

# Server
PORT=8000

# SMPP
SMPP_URL=smpp://127.0.0.1:2775
SMPP_USERNAME=<smpp_username>
SMPP_PASSWORD=<smpp_password>

# Optional wholesale/test accounts
SMPP_WHOLESALE_USERNAME=<smpp_wholesale_username>
SMPP_WHOLESALE_PASSWORD=<smpp_wholesale_password>

SMPP_SIMBOX_USERNAME=<smpp_simbox_username>
SMPP_SIMBOX_PASSWORD=<smpp_simbox_password>

